body {
	font-family: 'Nunito', sans-serif;
	text-align: center;

}

.container {
  margin-top: 100px;
  width: 90%;
}

img {
  width: auto;
  height: auto;
  max-height:90vh;
  margin: 20px auto;
}


h1 {
	color: lime;
	font-weight: 900;
}